<p-toast></p-toast>
<p-progressSpinner *ngIf="!isLoadedData"></p-progressSpinner>
<!-- region Signalements-->
<p-tabView *ngIf="isLoadedData">
  <p-tabPanel header="Signalements en attente">
    <div *ngIf="waitingZones.length === 0" style="text-align: center"><p>Il n'y a aucun événement en attente.</p>
    </div>
    <div *ngFor="let event of waitingZones">
      <app-zone [zone]="event" (isZonesHasChanged)="initZones()" [currentUser]="currentUser"></app-zone>
      <br/>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Signalements validés">
    <div *ngIf="validatedZones.length === 0" style="text-align: center"><p>Il n'y a aucun événement validés.</p>
    </div>
    <div *ngFor="let event of validatedZones">
      <app-zone [zone]="event" (isZonesHasChanged)="initZones()" [currentUser]="currentUser"></app-zone>
      <br/>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Signalements refusés">
    <div *ngIf="refusedZones.length === 0" style="text-align: center"><p>Il n'y a aucun événement refusés.</p>
    </div>
    <div *ngFor="let event of refusedZones">
      <app-zone [zone]="event" (isZonesHasChanged)="initZones()" [currentUser]="currentUser"></app-zone>
      <br/>
    </div>
  </p-tabPanel>
</p-tabView>
<!-- endregion-->
