<p-toast></p-toast>
<p-progressSpinner *ngIf="!isLoadedData"></p-progressSpinner>
<!-- region Evénements-->
<p-tabView *ngIf="isLoadedData">
  <p-tabPanel header="En attente">
    <div *ngIf="waitingEvents.length === 0" style="text-align: center"><p>Il n'y a aucun événement en attente.</p>
    </div>
    <div *ngFor="let event of waitingEvents">
      <app-my-event [event]="event" (isEventsHasChanged)="initEvents()" [currentUser]="currentUser"></app-my-event>
      <br/>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Validés">
    <div *ngIf="validatedEvents.length === 0" style="text-align: center"><p>Il n'y a aucun événement validés.</p>
    </div>
    <div *ngFor="let event of validatedEvents">
      <app-my-event [event]="event" (isEventsHasChanged)="initEvents()" [currentUser]="currentUser"></app-my-event>
      <br/>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Refusés">
    <div *ngIf="refusedEvents.length === 0" style="text-align: center"><p>Il n'y a aucun événement refusés.</p>
    </div>
    <div *ngFor="let event of refusedEvents">
      <app-my-event [event]="event" (isEventsHasChanged)="initEvents()" [currentUser]="currentUser"></app-my-event>
      <br/>
    </div>
  </p-tabPanel>
</p-tabView>
<!-- endregion-->
